body{
    background: #f14d91;
    font-family: "Nunito",sans-serif;
}
.blurb h2{
    color: #9f1aec;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color: #f7eff1;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: white;
    
}
#mainNavbar .nav-link:hover{
    color: #4a0b74;
    
}
#mainNavbar .navbar-brand{
    color: #ecf845;
}
#headingGroup span{
    color: #9f1aec;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}
.navbar.scrolled{
    background: rgb(222,192,222);
    transition: background 500ms;
}
@media(max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}